.main-content {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  background-color: var(--color-surface);
  font-size: 16px;
  color: var(--color-text-primary);
  outline: none;

  text-align: center;
  box-sizing: border-box;
}

.user-cards-container {
  display: grid;
  row-gap: 16px;
  justify-items: center;
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-text-secondary);
}

/* Handle grid for desktop */
@media (min-width: 1024px) {
  .user-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Handle grid for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .user-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Handle grid for mobile */
@media (max-width: 767px) {
  .user-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
