.main-content {
  max-width: 1200px;
  margin: 0 auto;
}

.user-cards-container {
  display: grid;
  row-gap: 16px;
  justify-items: center;
  border: solid 1px;
  padding: 20px;
  height: 60vh;
  overflow-y: scroll;
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-text-secondary);
}

.user-cards-wrapper {
  position: relative;
}

/* Handle grid for desktop */
@media (min-width: 1024px) {
  .user-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Handle grid for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .user-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Handle grid for mobile */
@media (max-width: 767px) {
  .user-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  .user-cards-wrapper {
    padding: 20px;
  }
}
